.dance-styles {
  padding-top: 105px;
  padding-bottom: 105px;
  text-align: center;
}

.dance-styles-subtitle {
  max-width: 736px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 991px) {
  .dance-styles {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}