.header {
  background-image: url(../img/header-bg.png);
  background-color: var(--brand-color-dark);
  background-size: cover;
  background-position: center right 40%;
  background-repeat: no-repeat;
  height: 150vh;
  color: var(--alternate-text-color);
}

.header-top {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  padding-right: 15px;
}

.header-nav-box {
  display: flex;
  gap: 20px;
}

.menu-list {
  display: flex;
  gap: 15px;
  font-weight: 600;
}

.header-menu-link {
  opacity: 0.84;
  transition: all 0.5s;
}

.header-menu-link:hover {
  opacity: 1;
}

.header-social-link .outer_bDW {
  filter: grayscale(0.50);
}

.header-social-link .border_2yy {
  fill: none;
}

.header-social-link:hover .border_2yy {
  fill: none;
}

.header-content {
  padding-top: 250px;
  text-align: left;
}

.header-title {
  font-size: 110px;
  line-height: 110px;
  color: var(--alternate-text-color);
  margin-bottom: 5px;
}

.header-subtitle {
  margin-bottom: 80px;
}

.header-button {
  font-size: 18px;
}