.history {
  background-image: url(../img/history-bg.png);
  background-color: var(--main-text-color);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 105px;
  padding-bottom: 105px;
  color: var(--alternate-text-color);
  background-attachment: fixed;
}

.history-description {
  max-width: 565px;
}

.history-title {
  color: var(--alternate-text-color);
}

.history-divider-line {
  margin-left: 0;
}

.history-text-heading {
  font-family: 'Ubuntu', sans-serif;
  font-size: 24px;
  line-height: 36px;
  font-weight: 500;
  margin-top: 50px;
  margin-bottom: 15px;
}

.history-text-owner {
  opacity: 0.76;
}