.partners {
  padding-top: 105px;
  padding-bottom: 115px;
  color: var(--alternate-text-color);
  background-color: var(--brand-color-dark);
  background-image: linear-gradient(to right, var(--brand-color-dark), var(--brand-color));
  text-align: center;
}

.partners-title {
  color: var(--alternate-text-color);
}

.partners-divider-line {
  background-color: var(--alternate-text-color);
}

.partners-subtitle {
  max-width: 736px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 991px) {
  .partners {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}