.schedule {
  background-image: url(../img/schedule/schedule-bg.png);
  background-color: var(--main-text-color);
  background-size: auto;
  background-position: center 35%;
  background-repeat: no-repeat;
  color: var(--alternate-text-color);
  text-align: center;
  height: 150vh;
  padding-top: 105px;
  padding-bottom: 115px;
}

.schedule-title {
  color: var(--alternate-text-color);
}

@media (max-width: 991px) {
  .schedule {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}