.show {
  background-image: url(../img/show-bg.png);
  background-color: var(--main-text-color);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--alternate-text-color);
  background-attachment: fixed;
  padding-top: 115px;
  padding-bottom: 115px;
}

.show-description {
  padding: 55px;
  max-width: 570px;
  background: var(--background-color-section-item);
}

.show-title {
  color: var(--alternate-text-color);
}

.show-divider-line {
  margin-left: 0;
}

.show-subtitle {
  margin-bottom: 50px;
}

.show-text {
  opacity: 0.76;
}

@media (max-width: 991px) {
  .show {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}

@media (max-width: 768px) {
  .show-description {
    padding: 35px;
  }
}