.team {
  padding-top: 105px;
  padding-bottom: 90px;
  text-align: center;
}

.team-divider-line {
  margin-left: auto;
  margin-right: auto;
}

.team-subtitle {
  max-width: 736px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}