.video {
  padding-top: 105px;
  padding-bottom: 105px;
  text-align: center;
}

.video-subtitle {
  margin-bottom: 40px;
}

@media (max-width: 991px) {
  .video {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}